//-Created by Administrator on 2016/5/6.

extends ./layout
block head
    link(href='/css/top.css' rel="stylesheet")
    link(href='/css/teacher.css' rel='stylesheet')
block body
    include ./top
    .company.list
        .ui.container.contents
        - var res = results,flage = false;
        - if (res && res.status && res.status.code == 500 && (flage = true))
             //-p #{res.status.msg}
        - else
            table.ui.celled.table.teal
                thead
                    tr
                        th 公司号
                        th 公司名称
                        th 公司地址
                tbody
                    - each group in res.data.company
                        tr
                            td
                                .ui.ribbon.label
                                    .ui.dropdown.inline
                                        .text #{group.id}
                                        i.dropdown.icon
                                        .menu
                                            a.item(href="/admin/companies/update/"+group.id) 修改
                                            .item.delete(data-id=group.id) 删除
                            td #{group.name}
                            td #{group.address}
                tfoot.full-width
                    tr
                        th(colspan="2")
                            .ui.left.floated.pagination.menu
                                - var currentPage = res.data.pageObj.currentPage*1, countPage = res.data.pageObj.countPage*1
                                - var previous =  currentPage>1 ? (currentPage - 1) : null;
                                - var next = countPage > currentPage ? (currentPage + 1) : null;
                                a.icon.item(href="/admin/companies?page=" + previous class=previous?'':'disabled')
                                    i.left.chevron.icon
                                - var n = 1;
                                - while (n <= countPage)
                                    a.item(href="/admin/companies?page=" + n class=currentPage == n ? 'active':'') #{n++}
                                a.icon.item(href="/admin/companies?page=" + next class=next?'':'disabled')
                                    i.right.chevron.icon
                        th(colspan="1")
                            a.ui.right.floated.small.primary.labeled.icon.button(href="/admin/companies/add")
                                i.user.icon
                                | Add
    include ./modal
    script.
        window.flage = !{flage};
    script(src="/js/companies.js")
