//-Created by Administrator on 2016/5/25.



extends ../layout

block head
    link(rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    link(href='/css/top.css' rel="stylesheet")
    link(href='/css/teacher.css' rel='stylesheet')
    link(href='/css/student-all.css' rel='stylesheet')
block body
    include ./top
    .student.choose.teacher
        - var res = result
        if res && res.status && res.status.code == 500
            p 哦噢，出错了QAQ
            p #{res.status.msg}
        else if res.status.code == 200
            h4.ui.horizontal.divider.header
                i.unordered.list.icon
                | 留言列表
            .ui.comments.message
                if res.data.message && res.data.message.length >= 0
                    - each group in res.data.message
                        .comment
                            a.avatar
                                - var imgUrl = group.user.gender == 'female'?'/images/avatar/small/stevie.jpg':'/images/avatar/small/matt.jpg'
                                img(src="#{imgUrl}")
                            .content
                                a.author #{group.user.name}
                                .metadata
                                    .date #{group.datetime.substring(0,19)}
                                    .rating
                                        i.star.icon
                                .text
                                    | #{group.content}
                else
                    .comment
                        | 留言板为空
            .ui.pagination.menu
                - var currentPage = res.data.pageObj.currentPage*1, countPage = res.data.pageObj.countPage*1
                - var previous =  currentPage>1 ? (currentPage - 1) : null;
                - var next = countPage > currentPage ? (currentPage + 1) : null;
                a.icon.item(href="/student/message?page=" + previous class=previous ? '' : 'disabled')
                    i.left.chevron.icon
                - var n = 1;
                - while (n <= countPage)
                    a.item(href="/student/message?page=" + n class=currentPage == n ? 'active' : '') #{n++}
                a.icon.item(href="/student/message?page=" + next class=next ? '' : 'disabled')
                    i.right.chevron.icon
            h4.ui.horizontal.divider.header
                i.paint.brush.icon
                | 发布留言
            .ui.reply.form
                .field
                    textarea(placeholder="留言内容" name="content")
                .ui.error.message
                .ui.blue.labeled.submit.icon.button
                    i.icon.edit
                    | 发布留言
    script(src='/js/student-all.js')